{% extends 'base.html' %}

{% block title %} Ivory Orchid Pets {% endblock %}

{% block content %}

<!--navigation bar-->
    <nav></nav>
    <!--hero-->
    <div class="hero-image"> <!--we should come up with an eye catching style for this-->
        <div class="hero-text">
            <h1>Ivory Orchid</h1>
            <p>Every pet deserves a home.</p>
            <button href="adopt.html">Adopt a Pet!</button>
            <!--maybe adding a background image would be nice??-->
            <a href="about.html">About Us</a>
        </div>
    </div>

    <!--all JavaScript goes in index.js!-->
    <script src="index.js"></script>

{% endblock %}